@import "../catppuccin";

[data-theme="light"] [story-theme="blue"],
[story-theme="blue"] {
    --si-color: #{$ctp-latte-blue};
    --si-color-main: #{fade-out($ctp-latte-blue, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-blue, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-blue, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-blue, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="blue"] {
    --si-color: #{$ctp-mocha-blue};
    --si-color-main: #{fade-out($ctp-mocha-blue, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-blue, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-blue, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-blue, 0.5)};
}
