@import "../catppuccin";

[data-theme="light"] [story-theme="flamingo"],
[story-theme="flamingo"] {
    --si-color: #{$ctp-latte-flamingo};
    --si-color-main: #{fade-out($ctp-latte-flamingo, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-flamingo, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-flamingo, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-flamingo, 0.5)};
}

[data-theme="dark"] [story-theme="flamingo"] {
    --si-color: #{$ctp-mocha-flamingo};
    --si-color-main: #{fade-out($ctp-mocha-flamingo, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-flamingo, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-flamingo, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-flamingo, 0.5)};
}
