@import "../catppuccin";

[data-theme="light"] [story-theme="flamingo"],
[story-theme="flamingo"] {
    --si-color-main: #{scale-color($flamingo, $saturation: 30%, $alpha: -60%)};
    --si-color-secondary: #{scale-color(
            $flamingo,
            $saturation: 30%,
            $alpha: -40%
        )};

    --si-start-text-color: #{scale-color(
            $flamingo,
            $saturation: 80%,
            $lightness: -50%
        )};
    --si-start-bg-hover: #{$ctp-latte-flamingo};

    --si-info-link-color: #{$ctp-latte-flamingo};
    --si-info-link-color-hover: #{scale-color(
            $ctp-latte-flamingo,
            $lightness: -35%
        )};

    --si-comment-link-color: #{fade-out($ctp-frappe-flamingo, 0.5)};
}

[data-theme="dark"] [story-theme="flamingo"] {
    --si-color-main: #{scale-color($flamingo, $saturation: 50%, $alpha: -80%)};
    --si-color-secondary: #{scale-color(
            $flamingo,
            $saturation: 50%,
            $alpha: -90%
        )};

    --si-start-text-color: #{$flamingo};
    --si-start-bg-hover: #{$ctp-latte-flamingo};

    --si-info-link-color: #{$flamingo};
    --si-info-link-color-hover: #{$ctp-latte-flamingo};

    --si-comment-link-color: #{fade-out($ctp-frappe-flamingo, 0.5)};
}
