@import "../catppuccin";

[data-theme="light"] [story-theme="green"],
[story-theme="green"] {
    --si-color: #{$ctp-latte-green};
    --si-color-main: #{fade-out($ctp-latte-green, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-green, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-green, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-green, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="green"] {
    --si-color: #{$ctp-mocha-green};
    --si-color-main: #{fade-out($ctp-mocha-green, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-green, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-green, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-green, 0.5)};
}
