@import "../catppuccin";

[data-theme="light"] [story-theme="maroon"],
[story-theme="maroon"] {
    --si-color: #{$ctp-latte-maroon};
    --si-color-main: #{fade-out($ctp-latte-maroon, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-maroon, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-maroon, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-maroon, 0.5)};
}

[data-theme="dark"] [story-theme="maroon"] {
    --si-color: #{$ctp-mocha-maroon};
    --si-color-main: #{fade-out($ctp-mocha-maroon, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-maroon, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-maroon, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-maroon, 0.5)};
}
