@import "../catppuccin";

[data-theme="light"] [story-theme="mauve"],
[story-theme="mauve"] {
    --si-color: #{$ctp-latte-mauve};
    --si-color-main: #{fade-out($ctp-latte-mauve, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-mauve, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-mauve, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-mauve, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="mauve"] {
    --si-color: #{$ctp-mocha-mauve};
    --si-color-main: #{fade-out($ctp-mocha-mauve, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-mauve, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-mauve, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-mauve, 0.5)};
}
