@import "../catppuccin";

[data-theme="light"] [story-theme="peach"],
[story-theme="peach"] {
    --si-color: #{$ctp-latte-peach};
    --si-color-main: #{fade-out($ctp-latte-peach, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-peach, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-peach, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-peach, 0.5)};
}

[data-theme="dark"] [story-theme="peach"] {
    --si-color: #{$ctp-mocha-peach};
    --si-color-main: #{fade-out($ctp-mocha-peach, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-peach, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-peach, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-peach, 0.5)};
}
