@import "../catppuccin";

[data-theme="light"] [story-theme="pink"],
[story-theme="pink"] {
    --si-color: #{$ctp-latte-pink};
    --si-color-main: #{fade-out($ctp-latte-pink, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-pink, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-pink, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-pink, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="pink"] {
    --si-color: #{$ctp-mocha-pink};
    --si-color-main: #{fade-out($ctp-mocha-pink, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-pink, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-pink, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-pink, 0.5)};
}
