@import "../catppuccin";

[data-theme="light"] [story-theme="pink"],
[story-theme="pink"] {
    --si-color-main: #{scale-color($pink, $saturation: 30%, $alpha: -70%)};
    --si-color-secondary: #{scale-color($pink, $saturation: 30%, $alpha: -50%)};

    --si-start-text-color: #{scale-color(
            $pink,
            $saturation: 80%,
            $lightness: -50%
        )};
    --si-start-bg-hover: #{$ctp-latte-pink};

    --si-info-link-color: #{$ctp-latte-pink};
    --si-info-link-color-hover: #{scale-color($ctp-latte-pink, $lightness: -35%)};

    --si-comment-link-color: #{fade-out($ctp-frappe-pink, 0.5)};
}

[data-theme="dark"] [story-theme="pink"] {
    --si-color-main: #{scale-color($pink, $saturation: 50%, $alpha: -80%)};
    --si-color-secondary: #{scale-color($pink, $saturation: 50%, $alpha: -90%)};

    --si-start-text-color: #{$pink};
    --si-start-bg-hover: #{$ctp-latte-pink};

    --si-info-link-color: #{$pink};
    --si-info-link-color-hover: #{$ctp-latte-pink};

    --si-comment-link-color: #{fade-out($ctp-frappe-pink, 0.5)};
}
