@import "../catppuccin";

[data-theme="light"] [story-theme="sky"],
[story-theme="sky"] {
    --si-color: #{$ctp-latte-sky};
    --si-color-main: #{fade-out($ctp-latte-sky, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-sky, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-sky, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-sky, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="sky"] {
    --si-color: #{$ctp-mocha-sky};
    --si-color-main: #{fade-out($ctp-mocha-sky, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-sky, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-sky, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-sky, 0.5)};
}
