@import "../catppuccin";

[data-theme="light"] [story-theme="teal"],
[story-theme="teal"] {
    --si-color: #{$ctp-latte-teal};
    --si-color-main: #{fade-out($ctp-latte-teal, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-teal, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-teal, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-teal, 0.5)};
}

html[style*="dark"],
[data-theme="dark"] [story-theme="teal"] {
    --si-color: #{$ctp-mocha-teal};
    --si-color-main: #{fade-out($ctp-mocha-teal, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-teal, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-teal, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-teal, 0.5)};
}
