@import "../catppuccin";

[data-theme="light"] [story-theme="yellow"],
[story-theme="yellow"] {
    --si-color: #{$ctp-latte-yellow};
    --si-color-main: #{fade-out($ctp-latte-yellow, 0.9)};
    --si-color-secondary: #{fade-out($ctp-latte-yellow, 0.8)};
    --si-color-darker: #{scale-color($ctp-latte-yellow, $lightness: -30%)};
    --si-comment-link-color: #{fade-out($ctp-latte-yellow, 0.5)};
}

[data-theme="dark"] [story-theme="yellow"] {
    --si-color: #{$ctp-mocha-yellow};
    --si-color-main: #{fade-out($ctp-mocha-yellow, 0.8)};
    --si-color-secondary: #{fade-out($ctp-mocha-yellow, 0.7)};
    --si-color-darker: #{scale-color($ctp-mocha-yellow, $lightness: -40%)};
    --si-comment-link-color: #{fade-out($ctp-mocha-yellow, 0.5)};
}
