.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    color: var(--text-primary);
    background: var(--background-secondary);

    hr {
        border: 1px solid var(--msr-line-color);
        width: 100%;
        margin: 0.5em 0;
    }

    // hr#tln + ol,
    // hr#tln + ul {
    //     p {
    //         margin: 0.35em 0 0;
    //     }
    // }

    ol:last-of-type:not([role="tablist"]),
    ul:last-of-type:not([role="tablist"]) {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0 0 0 20px;

        li {
            p {
                margin: 0.35em 0 0;
            }

            &:not(:last-child) {
                margin-bottom: 0.35em;
            }

            blockquote + figcaption {
                text-align: right;
                font-size: 0.85em;
                margin-top: -0.4em;
            }
        }

        a {
            color: var(--text-primary);
            padding: 1px;
            background: linear-gradient(
                    var(--chapter-link-color),
                    var(--chapter-link-color)
                )
                left bottom no-repeat;
            background-position: 100% 1em;
            transition: 0.2s ease;
            text-decoration: none;

            &:hover {
                background-position: bottom;
            }
        }

        a[href*="fnref"] {
            background: none;
            color: var(--chapter-arrow-color);
            transition: 0.2s ease-in-out;

            &:hover {
                background: none;
                color: var(--chapter-arrow-color-hover);
            }
        }
    }

    .mashiro__wrapper {
        background: var(--background-primary);
        max-width: 58ch;
    }

    .mashiro {
        margin: 2em 1.5em;
        display: grid;
        grid-row-gap: 1em;
        row-gap: 1em;

        // > div:not(:last-child),
        // > img:not(:last-child),
        // > hr:not(:last-child),
        // > ol:not(:last-child) {
        //     margin-bottom: 1em;
        // }

        img {
            border-radius: 5px;
            transition: filter 0.2s ease;
            filter: var(--img-filter);

            &:hover {
                filter: unset;
            }
        }

        .footnotes > ol {
            margin: 1em 1em 0;

            > li:not(:last-of-type) {
                margin-bottom: 0.5em;
            }
        }
    }

    // .msr-unit {
    //     sup {
    //         vertical-align: unset;
    //         font-size: unset;
    //         top: 0;
    //     }
    // }

    blockquote {
        margin: 0.5em 0;
        padding: 0 0.5em;
        border-left: solid 2px var(--blockquote-color);
    }
}
