html[data-theme="dark"],
[data-theme="dark"],
html[style*="dark"] {
    .wrapper {
        .banner,
        .info .item.characters .value span {
            filter: var(--img-filter);
        }

        .cover,
        .gallery__wrapper .item,
        .card__wrapper .item {
            filter: var(--img-filter);

            &:hover {
                filter: unset;
            }
        }
    }
}
