.index__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    color: var(--msr-text-color);

    a {
        color: inherit;
        text-decoration: none;
    }

    .banner {
        width: 100%;
        height: 325px;
        background-size: cover;
        background-position: 50% 10%;
        background-repeat: no-repeat;
    }
}

.index-container {
    &__wrapper {
        width: 100%;
        max-width: 90rem;
    }

    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
    margin: -25px 15px 0;
    padding: 3em;

    .cover {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > div {
            height: 0;

            > img {
                width: 200px;
                height: 250px;
                object-fit: cover;
                border-radius: 3px;
                box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
                transform: translate(0, -100%);
                margin: 0 !important;
            }
        }
    }

    .title {
        &__wrapper {
            line-height: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 7px;

            h1,
            h2 {
                margin: 0;
            }
        }

        &-en {
            font-size: 1.9em;
            font-family: "Inter", sans-serif;
            font-weight: 700;
        }

        &-jp {
            font-size: 1.2em;
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-weight: 500;
        }

        &-start a {
            display: inline-block;
            border-radius: 5px;
            padding: 0.4375em 0.625em;
            background: rgba(var(--storyColor-rgb), 0.1);
            color: rgba(var(--storyColor-rgb), 1);
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover {
                background: rgba(var(--storyColor-rgb), 1);
                color: #fff;
            }
        }
    }
}