@media only screen and (max-width: 812px) {
    .index__wrapper {
        font-size: 12px;

        .banner {
            height: 125px;
        }

        .index-container {
            grid-template-columns: auto [col-start] 1fr [last];
            grid-template-rows: auto;
            margin: -50px 0 0;
            padding: 5.2em 1.25em 1.5em;
            grid-gap: 1em;
    
            .cover {
                grid-column: 1/2;
                grid-row: 1/2;

                > div > img {
                   width: 115px;
                   height: 140px;
                }
            }
        }
    
        .title__wrapper {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    
        .info__wrapper {
            grid-column: 1/3;

            .info .item {
                padding: 5px 6px;

                &.characters > .value {
                    span {
                        height: 35px;
                        width: 35px;
                        margin-bottom: -3px;
                    }
                }
            }
        }
    
        .chapters__wrapper {
            grid-column: 1/3;
            grid-row: 3;
            font-size: 0.9em;
        }
        

        .gallery .collapsible-body {
            .item .caption {
                width: calc(100% - 16px);
                padding: 30px 8px 6px;
            }

            .gallery__wrapper {
                grid-template-columns: repeat(2, minmax(auto, 2fr));
            }
        }
        
    
        .story-cards > .collapsible-body > .cards {
            padding-right: 0.3em;
            gap: .2em .7em;
        }
    }
}

@media only screen and (max-width: 400px) {
    .story-cover {
        display: none;
    }

    .title-area {
        grid-column: 1/3;
    }
}