@media only screen and (max-width: 812px) {
    .index__wrapper {
        font-size: 14px;

        .banner {
            height: 125px;
        }

        .index-container {
            grid-template-columns: auto [col-start] 1fr [last];
            grid-template-rows: auto;
            margin: -50px 0 0;
            padding: 4.35em 1.25em 1.5em;
            grid-gap: 1em;
        }

        .cover {
            grid-column: 1/2;
            grid-row: 1/2;

            > div > img {
                width: 115px;
                height: 140px;
            }
        }

        .title-en {
            font-size: 1.5em;
        }

        .title-jp {
            font-size: 1.05em;
        }

        .title__wrapper {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .info__wrapper {
            grid-column: 1/3;

            .collapsible-header {
                padding: 9px 10px;
            }

            .info .item {
                padding: 5px 6px;

                &.characters {
                    padding: 5px 6px 1px;

                    > .value {
                        span {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }

        .chapters__wrapper {
            grid-column: 1/3;
            grid-row: 3;
            font-size: 0.9em;
        }

        .gallery__wrapper {
            grid-template-columns: repeat(2, minmax(auto, 2fr));
        }

        .card__wrapper {
            padding-right: 0.3em;
            gap: 0.2em 0.7em;
        }
    }
}
