.tooltip {
    cursor: help;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 2px;
    font-weight: 800;
    font-style: normal;
    font-size: 0.55em;
    border-radius: 3px;
    border: solid 1px rgb(158 158 158 / 40%);
    padding: 0 3px;
    background: rgb(255 255 255 / 50%);
    color: var(--msr-text-color);

    &:hover {
        color: var(--storyColor-dark);
    }
}
