.tooltip {
    cursor: help;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 2px;
    font-weight: 800;
    font-style: normal;
    font-size: 0.55em;
    border-radius: 3px;
    border: solid 1px var(--tooltip-border);
    padding: 0 3px;
    background: var(--tooltip-bg);
    color: var(--msr-text-color);

    &:hover {
        color: var(--storyColor-dark);
    }
}
