%icon-silhouette {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    -webkit-mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    -webkit-mask-size: 100%;
    -webkit-mask-position: 100%;
    mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    mask-size: 100%;
    mask-position: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}

.unknown {
    .icon {
        &__base {
            background: #acb0be;
        }

        &__wrapper::after {
            @extend %icon-silhouette;
        }
    }

    .line p {
        background: #dbdee5;

        &:nth-child(2)::before {
            background: #dbdee5;
        }
    }
}

.hidden {
    .icon__wrapper::after {
        @extend %icon-silhouette;
    }
}
