// .spell {
//     font-family: "Almendra", "M PLUS Rounded 1c", serif;
//     letter-spacing: 0.015em;
//     font-size: 1.1em;
//     line-height: 1.3;
// }

[character="Manhattan Cafe"],
[character="Tetora"],
[character="Koga"] {
    .line p {
        background: hsl(var(--hue), 5%, 88%) !important;

        &:nth-child(2)::before {
            background: hsl(var(--hue), 5%, 88%) !important;
        }
    }
}

html[data-theme="dark"],
[data-theme="dark"] {
    [character="Manhattan Cafe"],
    [character="Tetora"],
    [character="Koga"] {
        .line p {
            background: hsl(var(--hue), 5%, 23%) !important;

            &:nth-child(2)::before {
                background: hsl(var(--hue), 5%, 23%) !important;
            }
        }
    }
}
