html[data-theme="dark"],
[data-theme="dark"],
html[style*="dark"] {
    .icon {
        filter: var(--dark-mode-img-filter);
    }
}

html[data-theme="dark"],
[data-theme="dark"] {
    .line {
        p {
            background: var(--bubble-mocha, #313244);

            &:nth-child(2) {
                &::before {
                    background: var(--bubble-mocha, #313244);
                }
            }
        }
    }

    .unknown {
        p {
            background: #313244;

            &:nth-child(2) {
                &::before {
                    background: #313244;
                }
            }
        }
    }
}

[data-theme="frappe"] {
    .line {
        p {
            background: var(--bubble-frappe, #414559);

            &:nth-child(2) {
                &::before {
                    background: var(--bubble-frappe, #414559);
                }
            }
        }
    }

    .unknown {
        p {
            background: #414559;

            &:nth-child(2) {
                &::before {
                    background: #414559;
                }
            }
        }
    }
}

[data-theme="macchiato"] {
    .line {
        p {
            background: var(--bubble-macchiato, #363a4f);

            &:nth-child(2) {
                &::before {
                    background: var(--bubble-macchiato, #363a4f);
                }
            }
        }
    }

    .unknown {
        p {
            background: #363a4f;

            &:nth-child(2) {
                &::before {
                    background: #363a4f;
                }
            }
        }
    }
}
