.collapse__wrapper {
    display: flex;
    flex-direction: column;
    //gap: 0.65em;
    transition: height 0.35s ease;
}

.collapse__content {
    padding-top: 0.65em;
}

.option__header {
    background: var(--bubble-bg);
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    text-align: center;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    color: var(--text-primary);
    width: 100%;
    border: none;

    .arrow {
        transition: transform 0.5s ease;

        svg {
            width: 40px;
            height: 1.3em;
            vertical-align: -0.125em;
        }
    }

    &::before {
        content: "";
        background: var(--charahead) 0 (0 / cover);
        height: 40px;
        width: 40px;
        display: inline-block;
        filter: var(--img-filter);
    }
}

.active {
    .arrow {
        transform: rotate(180deg);
    }
}

.tabs__list {
    margin: 0 0 0.65em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 3px;
    border-color: var(--bubble-bg);
    grid-gap: 5px;
    gap: 5px;
    text-align: center;
}

.tabs__tab {
    display: block;
    border-radius: 10px 10px 0 0;
    border: solid 3px;
    border-color: var(--bubble-bg);
    border-bottom: 0;
    padding: 3px;
    font-weight: 400;
    transition: font-weight 0.15s ease;
    margin-bottom: -2px;
    cursor: pointer;

    &.selected {
        background: var(--bubble-bg);
        font-weight: 700;
    }

    &.disabled {
        cursor: default;
    }
}

.tabs__panel {
    display: none;
}

.selected {
    display: block;
}
