html[data-theme="dark"],
[data-theme="dark"],
html[style*="dark"] {
    .option__header {
        background: var(--bubble-mocha);
        color: var(--msr-bubble-text-color);

        &::before {
            filter: var(--dark-mode-img-filter);
        }
    }

    .tabs__list {
        border-color: var(--bubble-mocha);
    }

    .tabs__tab {
        border-color: var(--bubble-mocha);

        &.selected {
            background: var(--bubble-mocha);
        }
    }

    h2.header {
        [mt="normal"],
        [mt="rare"] {
            filter: var(--dark-mode-img-filter);
        }
    }
}
