@import "../catppuccin";

html[data-theme="dark"],
[data-theme="dark"] {
    --text-primary: #{$ctp-mocha-text};
    --text-secondary: #{$ctp-mocha-subtext1};
    --text-tertiary: #{$ctp-mocha-subtext0};
    --background-primary: #{$ctp-mocha-base};
    --background-secondary: #{$ctp-mocha-mantle};
    --background-tertiary: #{$ctp-mocha-crust};
    --shadow-color: 4, 3, 7;
    --dark-mode-img-filter: brightness(0.85) contrast(0.9);

    --accent-color: #{$ctp-mocha-blue};
    --blockquote-color: #{$ctp-mocha-overlay2};

    --si-chapter-none-bg: #{$ctp-mocha-surface0};
    --si-chapter-none-bg-hover: #{scale-color(
            $ctp-mocha-surface0,
            $lightness: -10%
        )};

    --chapter-link-color: #{fade-out($ctp-mocha-blue, 0.7)};
    --chapter-arrow-color: var(--accent-color);
    --chapter-arrow-color-hover: #{scale-color(
            $ctp-mocha-blue,
            $lightness: -20%
        )};
    --tooltip-border: rgb(158 158 158 / 20%);
    --tooltip-bg: rgb(255 255 255 / 15%);

    --tl-title-color: var(--accent-color);
    --tl-stats-color: #{$ctp-mocha-surface0};
    --tl-item-color: #{$ctp-mocha-base};

    --toolbar-hover-color: #fff;
    --toolbar-hover-bg: #{$ctp-mocha-surface0};

    --msr-name-color: #{$ctp-mocha-subtext1};
    --msr-bubble-text-color: #{$ctp-mocha-text};
    --msr-bubble-thought-color: #{scale-color(
            $blue,
            $lightness: 28%,
            $saturation: -20%
        )};
    --msr-tippy-bg: rgba(0, 0, 0, 0.8);
    --msr-tippy-color: #fff;
    --msr-line-color: #{$ctp-mocha-surface1};

    --msr-season-text: #{$white};
    --msr-winter-border: #{scale-color(
            $ctp-latte-blue,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-winter-bg: #{fade-out($ctp-latte-blue, 0.7)};
    --msr-spring-border: #{scale-color(
            $ctp-latte-pink,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-spring-bg: #{fade-out($ctp-latte-pink, 0.7)};
    --msr-summer-border: #{scale-color(
            $ctp-latte-sky,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-summer-bg: #{fade-out($ctp-latte-sky, 0.7)};
    --msr-fall-border: #{scale-color(
            $ctp-latte-peach,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-fall-bg: #{fade-out($ctp-latte-peach, 0.7)};

    --msr-cw-text: #{$ctp-mocha-text};
    --msr-cw-border: #{scale-color(
            $ctp-latte-red,
            $lightness: -60%,
            $saturation: 10%
        )};
    --msr-cw-bg: #{fade-out($ctp-latte-red, 0.5)};

    --credits-label-color: #{$ctp-mocha-subtext1};
    --credits-bg-color: #{$ctp-mocha-surface0};

    --msr-choice-green-bg: #{fade-out($ctp-latte-green, 0.7)};
    --msr-choice-green-border: #{scale-color(
            $ctp-latte-green,
            $lightness: -70%,
            $saturation: 10%
        )};

    .mashiro {
        img {
            filter: var(--dark-mode-img-filter);

            &:hover {
                filter: unset;
            }
        }
    }

    .index__wrapper {
        .banner,
        .info .item.characters .value span {
            filter: var(--dark-mode-img-filter);
        }

        .cover,
        .gallery__wrapper .item,
        .card__wrapper .item {
            filter: var(--dark-mode-img-filter);

            &:hover {
                filter: unset;
            }
        }
    }
}
