@import "../catppuccin";

html[data-theme="dark"],
[data-theme="dark"] {
    --dark-mode-img-filter: brightness(0.85) contrast(0.9);

    --text-color: #{$white};
    --accent-color: #{$blue};

    --shadow-color: 4, 3, 7;

    --si-label-color: #{$gray2};
    --si-chapter-none-bg: #{$ctp-macchiato-surface0};
    --si-chapter-none-bg-hover: #{scale-color(
            $ctp-macchiato-surface0,
            $lightness: -10%
        )};

    --chapter-bg-color: #{$black0};
    --chapter-inner-bg-color: #{$black2};
    --chapter-link-color: #{fade-out($blue, 0.65)};
    --chapter-arrow-color: var(--accent-color);
    --chapter-arrow-color-hover: #{$ctp-latte-blue};

    --text-color: #{$white};
    --tooltip-border: rgb(158 158 158 / 20%);
    --tooltip-bg: rgb(255 255 255 / 15%);

    --tl-stats-color: #{$ctp-mocha-surface0};
    --tl-item-color: #{$black2};
    --footer-bg: var(--chapter-bg-color);

    --toolbar-hover-color: #fff;
    --toolbar-hover-bg: #{$ctp-mocha-surface0};

    --msr-name-color: #{darken($white, 5%)};
    --msr-bubble-text-color: #{$white};
    --msr-bubble-thought-color: #{scale-color(
            $blue,
            $lightness: 28%,
            $saturation: -20%
        )};
    --msr-tippy-bg: rgba(0, 0, 0, 0.8);
    --msr-tippy-color: #fff;
    --msr-line-color: #{$ctp-macchiato-surface0};

    --msr-season-text: #{$white};
    --msr-winter-border: #{scale-color(
            $ctp-latte-blue,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-winter-bg: #{fade-out($ctp-latte-blue, 0.7)};
    --msr-spring-border: #{scale-color(
            $ctp-latte-pink,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-spring-bg: #{fade-out($ctp-latte-pink, 0.7)};
    --msr-summer-border: #{scale-color(
            $ctp-latte-sky,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-summer-bg: #{fade-out($ctp-latte-sky, 0.7)};
    --msr-fall-border: #{scale-color(
            $ctp-latte-peach,
            $lightness: -70%,
            $saturation: 10%
        )};
    --msr-fall-bg: #{fade-out($ctp-latte-peach, 0.7)};

    --msr-cw-text: #{$white};
    --msr-cw-border: #{scale-color(
            $ctp-latte-red,
            $lightness: -40%,
            $saturation: 10%
        )};
    --msr-cw-bg: #{fade-out($ctp-latte-red, 0.35)};

    --credits-label-color: #{$lavender};
    --credits-bg-color: #{$ctp-mocha-surface0};

    .mashiro {
        img {
            filter: var(--dark-mode-img-filter);

            &:hover {
                filter: unset;
            }
        }
    }

    .index__wrapper {
        .banner,
        .info .item.characters .value span {
            filter: var(--dark-mode-img-filter);
        }

        .cover,
        .gallery__wrapper .item,
        .card__wrapper .item {
            filter: var(--dark-mode-img-filter);

            &:hover {
                filter: unset;
            }
        }
    }
}
