@import "../catppuccin";

html,
html[data-theme="light"] {
    --text-color: #{$black2};
    --blockquote-color: #{$ctp-latte-subtext0};
    --accent-color: #{scale-color(
            $ctp-latte-blue,
            $lightness: -15%
        )};

    --shadow-color: 123, 143, 183;

    --si-label-color: #{$black4};
    --si-chapter-none-bg: #{$ctp-latte-mantle};
    --si-chapter-none-bg-hover: #{scale-color($ctp-latte-mantle, $lightness: -5%)};

    --chapter-bg-color: #{$ctp-latte-base};
    --chapter-inner-bg-color: #fff;
    --chapter-link-color: #{fade-out($ctp-latte-blue, 0.8)};
    --chapter-arrow-color: var(--accent-color);
    --chapter-arrow-color-hover: #{scale-color(
            $ctp-latte-blue,
            $lightness: -35%
        )};

    --tooltip-border: rgb(158 158 158 / 40%);
    --tooltip-bg: rgb(255 255 255 / 50%);

    --tl-stats-color: #{$ctp-latte-base};
    --tl-item-color: #fff;
    --footer-bg: var(--chapter-bg-color);

    --toolbar-hover-color: #000;
    --toolbar-hover-bg: #{$ctp-latte-base};

    --msr-name-color: #{lighten($black0, 10%)};
    --msr-bubble-text-color: {$black0};
    --msr-bubble-thought-color: #{scale-color(
            $ctp-latte-blue,
            $lightness: -34%,
            $saturation: -1%
        )};
    --msr-tippy-bg: rgba(0, 0, 0, 0.75);
    --msr-tippy-color: #fff;
    --msr-line-color: #{$ctp-latte-surface0};

    --msr-season-text: #{$black2};
    --msr-winter-border: #{scale-color(
            $ctp-latte-blue,
            $lightness: 40%,
            $saturation: -30%
        )};
    --msr-winter-bg: #{fade-out($ctp-latte-blue, 0.8)};
    --msr-spring-border: #{scale-color(
            $ctp-latte-pink,
            $lightness: 40%,
            $saturation: -30%
        )};
    --msr-spring-bg: #{fade-out($ctp-latte-pink, 0.8)};
    --msr-summer-border: #{scale-color(
            $ctp-latte-sky,
            $lightness: 40%,
            $saturation: -30%
        )};
    --msr-summer-bg: #{fade-out($ctp-latte-sky, 0.8)};
    --msr-fall-border: #{scale-color(
            $ctp-latte-peach,
            $lightness: 40%,
            $saturation: -30%
        )};
    --msr-fall-bg: #{fade-out($ctp-latte-peach, 0.8)};

    --msr-cw-text: #fff;
    --msr-cw-border: #{scale-color(
            $ctp-latte-red,
            $lightness: -40%,
            $saturation: 10%
        )};
    --msr-cw-bg: #{fade-out($ctp-latte-red, 0.1)};

    --credits-bg-color: #{$ctp-latte-base};
    --credits-label-color: #{$black4};

    --msr-choice-green-border: #{scale-color(
            $ctp-latte-green,
            $lightness: 40%,
            $saturation: -30%
        )};
    --msr-choice-green-bg: #{fade-out($ctp-latte-green, 0.8)};
}