.tl__wrapper {
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 3em);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    color: var(--text-color);
    background: var(--chapter-bg-color);
    transition: color var(--mode-transition), background var(--mode-transition);

    .tl-container {
        margin: 2em 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 2em;
        max-width: 1000px;
    }

    + footer {
        margin: 0;
        background: var(--chapter-inner-bg-color);
        transition: background var(--mode-transition);
    }

    img {
        transition: filter var(--mode-transition);
    }
}
