.tl__wrapper {
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 3em);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    color: var(--text-primary);
    background: var(--background-secondary);

    .tl-container {
        margin: 2em 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        // gap: 2em;
        max-width: 1000px;

        > div:not(:last-child) {
            margin-bottom: 2em;
        }
    }

    + footer {
        margin: 0;
        background: var(--background-primary);
    }
}
