.hold {
    display: inline-block;
}

p.thought {
    color: var(--msr-bubble-thought-color);
}

.spell {
    font-family: "Almendra", "M PLUS 1p", serif;
    letter-spacing: 0.015em;
    font-size: 1.1em;
    line-height: 1.3;
}
