.season {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 24px 1fr;
    grid-gap: 0.15em;
    gap: 0.15em;
    border-radius: 5px;
    border: solid 1px;
    padding: 8px;
    color: var(--text-primary);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    svg {
        height: 1em;
        width: 1em;
        fill: var(--text-primary);
    }

    p {
        margin: 0;
        justify-self: flex-start;
        grid-column: 2;
    }

    &[s="Winter"] {
        border-color: var(--msr-winter);
        background: var(--msr-winter);
    }

    &[s="Spring"] {
        border-color: var(--msr-spring);
        background: var(--msr-spring);
    }

    &[s="Summer"] {
        border-color: var(--msr-summer);
        background: var(--msr-summer);
    }

    &[s="Fall"],
    &[s="Autumn"] {
        border-color: var(--msr-fall);
        background: var(--msr-fall);
    }
}
