.season {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 24px 1fr;
    border-radius: 5px;
    padding: 8px;
    border: solid 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--msr-transition);
    transition-property: color, background, border;

    svg {
        width: 0.8em;
        fill: var(--msr-bubble-text-color);
        transition: fill var(--msr-transition);
    }

    p {
        margin: 0;
        justify-self: flex-start;
    }

    &[s="Winter"] {
        border-color: var(--msr-winter-border);
        background: var(--msr-winter-bg);
    }

    &[s="Spring"] {
        border-color: var(--msr-spring-border);
        background: var(--msr-spring-bg);
    }

    &[s="Summer"] {
        border-color: var(--msr-summer-border);
        background: var(--msr-summer-bg);
    }

    &[s="Fall"],
    &[s="Autumn"] {
        border-color: var(--msr-fall-border);
        background: var(--msr-fall-bg);
    }
}
