.season {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 24px 1fr;
    gap: 0.15em;
    border-radius: 5px;
    border: solid 1px;
    padding: 8px;
    color: var(--msr-season-text);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    svg {
        height: 1em;
        width: 1em;
        fill: var(--msr-season-text);
    }

    p {
        margin: 0;
        justify-self: flex-start;
        grid-column: 2;
    }

    &[s="Winter"] {
        border-color: var(--msr-winter-border);
        background: var(--msr-winter-bg);
    }

    &[s="Spring"] {
        border-color: var(--msr-spring-border);
        background: var(--msr-spring-bg);
    }

    &[s="Summer"] {
        border-color: var(--msr-summer-border);
        background: var(--msr-summer-bg);
    }

    &[s="Fall"],
    &[s="Autumn"] {
        border-color: var(--msr-fall-border);
        background: var(--msr-fall-bg);
    }
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .season {
        grid-gap: 0.15em;
    }
}
