:root {
    --msr-icon-border: 12px 4px;
    --msr-icon-size: 50px;
    --msr-icon-sizeSmall: 45px;
    --msr-name-case: uppercase;
    --msr-line-border: 8px;
    --msr-line-size: 1em;
    --msr-line-gap: 0.15em;

    --mode-transition: 0.2s ease;

    --header-height: 40px;
    --footer-height: 32px;

    // [character] {
    //     // based on surface0
    //     // latte is lightened. og: hsl(223, 16%, 83%)
    //     --bubble-latte: hsl(var(--hue), 22%, 88%); // hsl(224, 17%, 88%)
    //     --bubble-mocha: hsl(var(--hue), 21%, 23%); // hsl(237, 16%, 23%)
    //     --bubble-frappe: hsl(var(--hue), 21%, 30%); // hsl(230, 16%, 30%)
    //     --bubble-macchiato: hsl(var(--hue), 24%, 26%); // hsl(230, 19%, 26%)
    // }
}
