:root {
    --msr-icon-border: 12px 4px;
    --msr-icon-size: 50px;
    --msr-icon-sizeSmall: 45px;
    --msr-name-case: uppercase;
    --msr-line-border: 8px;
    --msr-line-size: 1em;
    --msr-line-gap: 0.15em;

    --mode-transition: 0.25s ease;

    --header-height: 40px;
    --footer-height: 32px;

    [character] {
        --bubble-light-mode: hsl(var(--hue), 25%, 88%);
        --bubble-dark-mode: hsl(var(--hue), 25%, 23%);
        // --bubble-fill-mode: hsl(var(--hue), 25%, 42%);
    }
}
