[data-theme="light"] [story-theme="#{$color}"],
[story-theme="#{$color}"] {
    --si-color-main: #{scale-color(
            $ctp-mocha-#{$color},
            $saturation: 30%,
            $alpha: -70%
        )};
    --si-color-secondary: #{scale-color(
            $ctp-mocha-#{$color},
            $saturation: 30%,
            $alpha: -50%
        )};

    --si-start-text-color: #{scale-color(
            $ctp-mocha-#{$color},
            $saturation: 80%,
            $lightness: -50%
        )};
    --si-start-bg-hover: #{$ctp-latte-#{$color}};

    --si-info-link-color: #{$ctp-latte-#{$color}};
    --si-info-link-color-hover: #{scale-color(
            $ctp-latte-#{$color},
            $lightness: -35%
        )};

    --si-comment-link-color: #{fade-out($ctp-mocha-#{$color}, 0.5)};
}

[data-theme="dark"] [story-theme="#{$color}"] {
    --si-color-main: #{scale-color(
            $ctp-mocha-#{$color},
            $saturation: 50%,
            $alpha: -80%
        )};
    --si-color-secondary: #{scale-color(
            $ctp-mocha-#{$color},
            $saturation: 50%,
            $alpha: -90%
        )};

    --si-start-text-color: #{$ctp-mocha-#{$color}};
    --si-start-bg-hover: #{$ctp-latte-#{$color}};

    --si-info-link-color: #{$ctp-mocha-#{$color}};
    --si-info-link-color-hover: #{$ctp-latte-#{$color}};

    --si-comment-link-color: #{fade-out($ctp-mocha-#{$color}, 0.5)};
}
