.index__wrapper {
    --banner-height: 275px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    color: var(--text-color);
    background: var(--chapter-inner-bg-color);
    padding-bottom: 3rem;

    a {
        // color: inherit;
        text-decoration: none;
    }

    .banner {
        width: 100%;
        height: var(--banner-height);
        background-size: cover;
        background-position: 50% 10%;
        background-repeat: no-repeat;
    }

    .cover {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: 0 0 5px 1px rgba(var(--shadow-color), 0.25);
        border-radius: 9px;
        transition: 0.25s ease;

        > div {
            height: 0;

            > img {
                width: 200px;
                height: 250px;
                object-fit: cover;
                border-radius: 9px;
                transform: translate(0, -100%);
                margin: 0 !important;
            }
        }
    }

    .title {
        &__wrapper {
            line-height: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 7px;

            h1,
            h2 {
                margin: 0;
            }
        }

        &-en {
            font-size: 1.9em;
            font-family: "Inter", sans-serif;
            font-weight: 700;
        }

        &-jp {
            font-size: 1.2em;
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-weight: 500;
        }

        &-start a {
            display: inline-block;
            border-radius: 5px;
            padding: 0.4375em 0.625em;
            background: var(--si-color-main);
            color: var(--si-start-text-color);
            text-decoration: none;
            transition: 0.25s ease-in-out;

            &:hover {
                background: var(--si-start-bg-hover);
                color: #fff;
            }
        }
    }
}

.index-container {
    &__wrapper {
        width: 100%;
        max-width: 1140px;
        height: 100%;
    }

    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: auto 1fr;
    gap: 1.2em;
    margin: -25px 15px 0;
    padding: 3em 0 0;
}
