@media (max-width: 900px) {
    .chapter__wrapper {
        .mashiro__wrapper {
            width: 97%;
        }

        .mashiro {
            margin: 1.5em 1em;
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    .chapter__wrapper {
        font-size: 14px;

        .mashiro__wrapper {
            width: 100%;
        }
    }
}
