%story-dark {
    --storyColor-dark-l: calc(var(--storyColor-l) - 20%);
    --storyColor-dark: hsl(
        var(--storyColor-h),
        var(--storyColor-s),
        var(--storyColor-dark-l)
    );
}

:root {
    @extend %story-dark;

    --storyColor-bright-l: calc(var(--storyColor-l) + 20%);
    --storyColor-bright-s: calc(var(--storyColor-s) + 20%);
    --storyColor-bright: hsl(
        var(--storyColor-h),
        var(--storyColor-bright-s),
        var(--storyColor-bright-l)
    );

    // --msr-unit-margin: 1.2em;
    // --msr-unit-marginSmall: 0.9em;
    --msr-icon-border: 12px 4px;
    --msr-icon-size: 60px;
    --msr-icon-sizeSmall: 45px;
    --msr-name-case: uppercase;
    --msr-text-color: #1e2022;
    --msr-bubble-color: #222;
    --msr-bubble-thought-color: #215cc7;
    // --msr-line-filter: drop-shadow(0 1px 1.5px rgba(0, 0, 0, 0.05)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
    --msr-line-border: 8px;
    --msr-line-size: 1em;
    --msr-line-gap: 2.5px;

    --msr-tippy-bg: rgba(0, 0, 0, 0.75);

    --msr-marker-lineColor: #bbb;

    [character] {
        --light-mode: hsl(var(--hue), 54%, 93%);
        --dark-mode: hsl(var(--hue), 12%, 25%);
        --fill-mode: hsl(var(--hue), 25%, 42%);
    }
}

.preview-wrapper,
.info-area,
a.msr-fn-inline {
    @extend %story-dark;
}

.tippy-box[data-animation="shift-away"][data-state="hidden"] {
    opacity: 0;

    &[data-placement^="top"] {
        transform: translateY(7px);
    }

    &[data-placement^="bottom"] {
        transform: translateY(-7px);
    }

    &[data-placement^="left"] {
        transform: translateX(7px);
    }

    &[data-placement^="right"] {
        transform: translateX(-7px);
    }
}

.tippy-box[data-theme~="translucent"] {
    background-color: var(--msr-tippy-bg);
    font-family: "Inter var", sans-serif;
    font-size: 0.88em;

    a {
        color: inherit;
        border-bottom: 0;
        text-decoration: underline;

        &:hover {
            color: inherit;
        }
    }

    > .tippy-arrow {
        width: 14px;
        height: 14px;
    }

    &[data-placement^="top"] > .tippy-arrow:before {
        border-width: 7px 7px 0;
        border-top-color: var(--msr-tippy-bg);
    }

    &[data-placement^="bottom"] > .tippy-arrow:before {
        border-width: 0 7px 7px;
        border-bottom-color: var(--msr-tippy-bg);
    }

    &[data-placement^="left"] > .tippy-arrow:before {
        border-width: 7px 0 7px 7px;
        border-left-color: var(--msr-tippy-bg);
    }

    &[data-placement^="right"] > .tippy-arrow:before {
        border-width: 7px 7px 7px 0;
        border-right-color: var(--msr-tippy-bg);
    }

    > {
        .tippy-backdrop {
            background-color: var(--msr-tippy-bg);
        }

        .tippy-svg-arrow {
            fill: var(--msr-tippy-bg);
        }
    }
}
