html[data-theme="dark"],
[data-theme="dark"] {
    .line {
        p {
            background: var(--bubble-dark-mode, #2b2b2b);

            &:nth-child(2) {
                &::before {
                    background: var(--bubble-dark-mode, #2b2b2b);
                }
            }
        }
    }

    .icon {
        filter: var(--dark-mode-img-filter);
    }

    .unknown {
        p {
            background: #2b2b2b;

            &:nth-child(2) {
                &::before {
                    background: #2b2b2b;
                }
            }
        }
    }
}
