.minitalk {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: 0.15s all ease;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.65em;

        .collapse-content {
            padding-top: 0.65em;
        }
    }

    &-option {
        &__header {
            background: var(--light-mode, #f1f1f1);
            border-radius: 5px;
            cursor: pointer;
            padding: 8px;
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            text-align: center;
            align-items: center;
            gap: 10px;
            color: #222;
            width: 100%;
            border: none;

            .arrow {
                transition: 0.5s all ease;
            }

            &.active {
                .arrow {
                    transform: rotate(180deg);
                }
            }

            &::before {
                content: "";
                background: var(--charahead) 0 (0 / cover);
                height: 40px;
                width: 40px;
                display: inline-block;
            }
        }
    }

    &-tabs {
        &__list {
            margin: 0 0 0.65em;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: solid 3px;
            border-color: var(--light-mode, #f1f1f1);
            gap: 5px;
            text-align: center;
        }

        &__tab {
            display: block;
            border-radius: 10px 10px 0 0;
            border: solid 3px;
            border-color: var(--light-mode, #f1f1f1);
            border-bottom: 0;
            padding: 3px;
            font-weight: 400;
            transition: 0.15s all ease;
            margin-bottom: -2px;
            cursor: pointer;

            &.selected {
                background: var(--light-mode, #f1f1f1);
                font-weight: 700;
            }

            &.disabled {
                cursor: default;
            }
        }

        &__panel {
            display: none;

            &.selected {
                display: block;
            }
        }
    }
}
