html,
html[data-theme="light"] {
    --storycolor-opacity: 0.1;
    --storycolor-opacity-hover: 0.25;

    --tl-stats-color: rgba(0, 0, 0, 0.06);

    --header-shadow-color: rgba(0, 0, 0, 0.1);

    --chapter-none-l: 85%;
    --chapter-none-l-hover: 65%;
    --chapter-bg-color: #f3f6f7;
    --chapter-inner-bg-color: #fff;
    --chapter-link-color: rgb(238 220 179 / 75%);
    --chapter-arrow-color: #6e85b2;
    --credits-bg-color: #f0f1f2;
    --accent-color: #126ebe;
    --text-color: var(--msr-text-color);
    --tooltip-border: rgb(158 158 158 / 40%);
    --tooltip-bg: rgb(255 255 255 / 50%);

    --index-item-color: #fff;

    --toolbar-hover-color: #000;
    --toolbar-hover-bg: #e0e0e0;

    --msr-text-color: #1e2022;
    --msr-bubble-text-color: #222;
    --msr-bubble-thought-color: #215cc7;
    --msr-tippy-bg: rgba(0, 0, 0, 0.75);
    --msr-tippy-color: #fff;
    --msr-marker-lineColor: #bbb;

    --msr-winter-border: hsl(221, 27%, 80%);
    --msr-winter-bg: hsl(221, 27%, 92%);
    --msr-spring-border: hsl(341, 100%, 83%);
    --msr-spring-bg: hsl(341, 100%, 95%);
    --msr-summer-border: hsl(210, 100%, 83%);
    --msr-summer-bg: hsl(210, 100%, 95%);
    --msr-fall-border: hsl(29, 100%, 83%);
    --msr-fall-bg: hsl(29, 100%, 95%);

    --msr-cw-border: #9f0606;
    --msr-cw-bg: #cb0f0f;

    --credits-bg-color: #f0f1f2;

    --cover-shadow-color: rgb(0 0 0 / 0.06);
}

html[data-theme="dark"],
[data-theme="dark"] {
    --dark-mode-img-filter: brightness(0.75) contrast(1.1);

    --storycolor-opacity: 0.2;
    --storycolor-opacity-hover: 0.15;

    --tl-stats-color: rgba(255, 255, 255, 0.1);

    --header-shadow-color: rgba(0, 0, 0, 0.5);

    --chapter-none-l: 50%;
    --chapter-none-l-hover: 35%;
    --chapter-bg-color: #121319;
    --chapter-inner-bg-color: #202128;
    --chapter-link-color: rgb(238 220 179 / 30%);
    --chapter-arrow-color: #6e85b2;

    --accent-color: #537ec5;
    --text-color: var(--msr-text-color);
    --tooltip-border: rgb(158 158 158 / 20%);
    --tooltip-bg: rgb(255 255 255 / 15%);

    --index-item-color: #121318;

    --toolbar-hover-color: #fff;
    --toolbar-hover-bg: hsla(0, 0%, 100%, 0.1);

    --msr-text-color: #e4e7f1;
    --msr-bubble-text-color: #f2f3f8;
    --msr-bubble-thought-color: #cce4ff;
    --msr-tippy-bg: rgba(0, 0, 0, 0.8);
    --msr-tippy-color: #fff;
    --msr-marker-lineColor: #4b4f5e;

    --msr-winter-border: hsl(221, 24%, 8%);
    --msr-winter-bg: hsl(221, 24%, 15%);
    --msr-spring-border: hsl(341, 36%, 8%);
    --msr-spring-bg: hsl(341, 36%, 15%);
    --msr-summer-border: hsl(210, 36%, 8%);
    --msr-summer-bg: hsl(210, 36%, 15%);
    --msr-fall-border: hsl(29, 36%, 8%);
    --msr-fall-bg: hsl(29, 36%, 15%);

    --msr-cw-border: hsl(0, 93%, 12%);
    --msr-cw-bg: hsl(0, 86%, 23%);

    --credits-bg-color: hsla(0, 0%, 100%, 0.075);

    .index__wrapper {
        .banner,
        .info .item.characters .value span {
            filter: var(--dark-mode-img-filter);
            transition: filter var(--msr-transition);
        }
    }

    .mashiro,
    .index__wrapper {
        img {
            filter: var(--dark-mode-img-filter);
            transition: filter var(--msr-transition);

            &:hover {
                filter: unset;
            }
        }
    }
}
