.toolbar {
    display: grid;
    // grid-auto-flow: column;
    grid-template: 1fr / 40px 40px 40px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-gap: 32px;
    gap: 32px;
    color: var(--text-teritary);

    > div {
        cursor: pointer;
        padding: 4px;
        border-radius: 5px;

        &:hover {
            background: var(--toolbar-hover-bg);

            a {
                color: inherit;
            }
        }
    }

    a {
        position: relative;
        text-decoration: none;
        color: inherit;
        bottom: 1px;
    }

    svg {
        // max-width: fit-content;
        height: 22px;
        width: 22px;
    }

    .toolbar__section {
    }
}
