.toolbar {
    display: grid;
    // grid-auto-flow: column;
    grid-template: 1fr / 40px 40px 40px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 32px;
    color: var(--text-color);

    button {
        position: relative;
        background: unset;
        border: unset;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        padding: 4px 6px;
        border-radius: 5px;
        bottom: 1px;
        font-size: 0;

        &:hover {
            color: var(--toolbar-hover-color);
            background: var(--toolbar-hover-bg);
        }
    }

    svg {
        max-width: fit-content;
        height: 22px;
        width: 22px;
    }

    .toolbar__section {
    }
}
