.narration {
    display: grid;
    align-items: center;
    grid-template: 1fr / var(--msr-icon-size) 1fr;
    transition: grid-template 0.2s ease;
    gap: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .line {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        row-gap: var(--msr-line-gap);

        p {
            margin: 0;
            transition: transform 0.2s ease;

            &:hover {
                transform: translate(2px, 0px);
            }
        }
    }

    &::before {
        content: "";
        height: 0.1em;
        width: 100%;
        display: block;
        border-bottom: solid var(--msr-line-color) 1px;
    }
}

@media (max-width: 650px) {
    .narration {
        grid-template: 1fr / var(--msr-icon-sizeSmall) 1fr;
    }
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .narration {
        grid-gap: 10px;
    }
}
