h2.header {
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    padding-bottom: 6px;
    border-bottom: solid 1px #eff0f4;
    font-size: 1.4em;

    &:not(:first-child) {
        margin-top: 1.25em;
    }

    [mt="normal"],
    [mt="rare"] {
        display: inline-block;
        width: 25px;
        height: 29.28px;
        background-size: cover;
    }

    [mt="normal"] {
        background-image: url("https://cdn.jsdelivr.net/gh/enstars/img/talkevent_normal.png");
    }

    [mt="rare"] {
        background-image: url("https://cdn.jsdelivr.net/gh/enstars/img/talkevent_rare.png");
    }
}
