body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-feature-settings: "calt", "case", "ss03";
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

svg {
    font-size: inherit;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

// svg {
//     shape-rendering: geometricPrecision;
//     display: inline-block;
//     font-size: inherit;
//     overflow: visible;
//     height: 1em;
//     vertical-align: -0.125em;
// }

.collapse__wrapper {
    transition: height 0.5s ease;
}

.noCalt {
    font-variant-ligatures: no-contextual;
    font-feature-settings: "calt" 0;
}

.noCase {
    font-variant-ligatures: no-contextual;
    font-feature-settings: "case" 0;
}

.hold {
    display: inline-block;
}

.tippy-box {
    padding: 2px;

    blockquote {
        margin: 0.5em 0;
        padding: 0 0.5em;
        border-left: solid 2px var(--msr-tippy-color);

        + figcaption {
            text-align: right;
            font-size: 0.85em;
            margin-top: -0.4em;
        }
    }
    p {
        margin: 0.75em 0;

        &:last-child {
            margin: 0;
        }
    }
}

.tippy-box[data-animation="shift-away"][data-state="hidden"] {
    opacity: 0;

    &[data-placement^="top"] {
        transform: translateY(7px);
    }

    &[data-placement^="bottom"] {
        transform: translateY(-7px);
    }

    &[data-placement^="left"] {
        transform: translateX(7px);
    }

    &[data-placement^="right"] {
        transform: translateX(-7px);
    }
}

.tippy-box[data-theme~="translucent"] {
    background-color: var(--msr-tippy-bg);
    color: var(--msr-tippy-color);
    font-family: "Inter var", "M PLUS Rounded 1c", sans-serif;
    font-size: 0.85em;

    a {
        color: inherit;
        border-bottom: 0;
        text-decoration: underline;

        &:hover {
            color: inherit;
        }
    }

    > .tippy-arrow {
        width: 14px;
        height: 14px;
    }

    &[data-placement^="top"] > .tippy-arrow:before {
        border-width: 7px 7px 0;
        border-top-color: var(--msr-tippy-bg);
    }

    &[data-placement^="bottom"] > .tippy-arrow:before {
        border-width: 0 7px 7px;
        border-bottom-color: var(--msr-tippy-bg);
    }

    &[data-placement^="left"] > .tippy-arrow:before {
        border-width: 7px 0 7px 7px;
        border-left-color: var(--msr-tippy-bg);
    }

    &[data-placement^="right"] > .tippy-arrow:before {
        border-width: 7px 7px 7px 0;
        border-right-color: var(--msr-tippy-bg);
    }

    > {
        .tippy-backdrop {
            background-color: var(--msr-tippy-bg);
        }

        .tippy-svg-arrow {
            fill: var(--msr-tippy-bg);
        }
    }
}

// .minitalk__wrapper {
//     display: flex;
//     flex-direction: column;
//     // gap: 8px;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;

//     > div:not(:last-child) {
//         margin-bottom: 8px;
//     }
// }
