$icon-size-normal: 7.8125em;
$icon-size-small: 7.4em;
$icon-border-radius: 50%;
$icon-padding: 0.5em;
$text-color: #f1f3f7;
$highlight-color: #f2dea8;

.home__wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(ellipse at bottom, #21294c 0%, #090a0f 100%)
        no-repeat;
    font-family: "Quicksand", "M PLUS Rounded 1c", sans-serif;
    color: $text-color;

    .width-wrapper {
        display: flex;
        flex-direction: column;
        width: 30rem;
        gap: 0.8em;
    }

    .jp-text {
        font-weight: 500;
        font-family: "M PLUS Rounded 1c";
    }

    .highlight {
        color: $highlight-color;
    }

    .home-content {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container01 {
        display: flex;
        transition: all 0.2s linear;
        align-items: center;
        justify-content: center;
        gap: 1.5625em;

        hr {
            border: 1px solid $text-color;
        }

        .icon {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            > div {
                display: block;
                width: $icon-size-normal;
                height: $icon-size-normal;
                border-radius: $icon-border-radius;
                border: 1px solid $text-color;
                padding: $icon-padding;
                transition: all 0.2s linear;

                .wrapper {
                    display: block;
                    position: relative;
                    border-radius: $icon-border-radius;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        width: $icon-size-normal;
                        height: $icon-size-normal;
                        background: rgb(39 30 114 / 15%);
                        transition: background-color 0.2s linear;
                    }

                    &:hover::after {
                        background: none;
                    }

                    img {
                        transition: all 0.2s linear;
                        filter: saturate(75%);

                        &:hover {
                            filter: saturate(100%);
                        }
                    }
                }
            }
        }

        .text {
            .section01 {
                h1 {
                    font-size: 1.7em;
                    font-weight: bold;
                    margin: 0;
                }

                h2 {
                    font-size: 1.5em;
                    font-weight: normal;
                    margin: 0 0 0.4em;
                }
            }
        }
    }

    .home__links {
        display: flex;
        align-items: center;
        gap: 0.8em;

        a {
            display: inline-block;
            color: #fff;
            transition: all 0.15s linear;

            &:hover {
                color: $highlight-color;
            }
        }

        .svg-inline--fa {
            vertical-align: -0.125em;
        }

        svg.svg-inline--fa {
            display: block;
            font-size: 1.75em;
            width: 1em;
            margin: 0;
        }
    }

    .home__nav {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        font-size: 1em;

        button {
            position: relative;
            background: unset;
            border: unset;
            padding: 1px;
            cursor: pointer;
            color: $text-color;
            text-decoration: none;
            line-height: 1.35;

            &:hover {
                color: #fff;

                &::before {
                    transform: scaleX(1);
                }
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                transform: scaleX(0);
                transition: transform 0.2s ease;
            }
        }
    }

    .container02 {
        transition: height 400ms ease-in-out, padding 400ms ease-in-out;
    }
}

@media (max-width: 500px) {
    .home__wrapper {
        font-size: 12px;

        .width-wrapper {
            width: 83%;
        }

        .container01 {
            .icon > div {
                width: $icon-size-small;
                height: $icon-size-small;

                .wrapper::after {
                    width: $icon-size-small;
                    height: $icon-size-small;
                }
            }
        }
    }
}
