$icon-size-normal: 7.8125em;
$icon-size-small: 6.8em;
$icon-border-radius: 50%;
$icon-padding: 0.5em;
$text-color: #f1f3f7;
$highlight-color: #f2dea8;

.home__wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(ellipse at bottom, #21294c 0%, #090a0f 100%)
        no-repeat;
    font-family: "Quicksand", "M PLUS 2", sans-serif;
    color: $text-color;

    .jp-text {
        font-weight: 600;
    }

    .highlight {
        color: $highlight-color;
    }

    .home-content {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container01 {
        display: flex;
        transition: all 0.2s linear;
        align-items: center;
        column-gap: 1.5625em;

        hr {
            border: 1px solid $text-color;
            margin: 0.5em 0 0.35em;
        }

        .icon > div {
            display: block;
            position: relative;
            width: $icon-size-normal;
            height: $icon-size-normal;
            border-radius: $icon-border-radius;
            overflow: hidden;
            border: 1px solid $text-color;
            padding: $icon-padding;
            transition: all 0.2s linear;

            .wrapper {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: $icon-padding;
                    width: $icon-size-normal;
                    height: $icon-size-normal;
                    border-radius: $icon-border-radius;
                    background: rgb(39 30 114 / 18%);
                    transition: all 0.2s linear;
                }

                &:hover::after {
                    background: none;
                }

                img {
                    transition: all 0.2s linear;
                    filter: saturate(80%);
                    border-radius: 50%;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover {
                        filter: saturate(100%);
                    }
                }
            }
        }

        .text {
            flex-grow: 1;

            .part01 {
                h1 {
                    font-size: 1.7em;
                    font-weight: bold;
                    margin: 0;
                }

                h2 {
                    font-size: 1.5em;
                    font-weight: normal;
                    margin: 0 0 0.5em;
                }
            }
        }
    }

    .nav-bar {
        margin-top: 2em;
        font-size: smaller;
    }
}

@media (max-width: 500px) {
    .home__wrapper {
        font-size: 12px;

        .container01 {
            width: 83%;

            .icon > div {
                width: $icon-size-small;
                height: $icon-size-small;

                .wrapper::after {
                    width: $icon-size-small;
                    height: $icon-size-small;
                }
            }
        }
    }
}
