@use "mashiro";

body {
    margin: 0;
    font-family: sans-serif;
}

.home__ {
    &wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__container {
        &-main {
            display: block;
            margin: auto;
            text-align: center;
        }
    }

    &icon {
        overflow: hidden;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    &txt {
        margin-top: 1em;
        text-align: center;

        &-extra {
            font-size: smaller;
            margin-top: 3em;
        }
    }
}

/* Pages */

.chapter-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

.mashiro {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

@media (max-width: 900px) {
    .chapter-wrapper {
        width: auto;
    }
}

@media (min-width: 1600px) {
    .chapter-wrapper {
        width: 75%;
    }
}

.msr-unit {
    sup {
        vertical-align: unset;
        font-size: unset;
    }
}
