body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-feature-settings: "calt", "case", "ss03";
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

svg {
    shape-rendering: geometricPrecision;
}

.footer {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    padding: 4px 20px;
    background-color: #f6f8fa;

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
            display: inline-block;
            color: #3f4346;
            transition: all 0.15s linear;

            &:hover {
                color: inherit;
            }
        }
    }
}

.collapse__wrapper {
    transition: height 0.5s;
}

.noCalt {
    font-variant-ligatures: no-contextual;
    font-feature-settings: "calt" 0;
}

.noCase {
    font-variant-ligatures: no-contextual;
    font-feature-settings: "case" 0;
}
